.jumbotron
  %h1
    Discuss #{@podcast.title}
  - if @message.present? && @message.errors.any?
    - @message.errors.full_messages.each do |err|
      %p.error
        = err
      %p.error
  %br
    = render :partial => "create"
  %ul.list-unstyled
    - @podcast.messages.order("created_at desc").each do |message|
      %li
        .row
          .col-sm-10
            .panel.panel-primary
              .panel-heading
                %h3.panel-title #{message.listener.username} posted at #{message.created_at}
              .panel-body
                "#{message.comment}"
          .col-sm-2
            - if message.listener_id == @current_listener.id
              = button_to("Delete post", podcast_message_path(@podcast, message.id), class: "btn btn-danger", :method =>"delete", :data => {:confirm => "Are you sure?"})
            