.jumbotron
  - if @current_listener
    %h1 Welcome #{link_to(@current_listener.firstname,listener_path(@current_listener))}
    %h2 Newsfeed
    %div
      - @messages.order("created_at desc").each do |message|
        .row
          %br/
          .col-md-2
            = image_tag(message.podcast.image, class: "img-responsive img-thumbnail img-med", alt: "Responsive image")
          .col-md-10
            %h3= link_to(message.listener.username,listener_path(message.listener))
            %p= link_to(message.podcast.title, podcast_path(message.podcast))
            %em
              %p
                "#{message.comment}" - #{message.created_at}
  - else
    %h1 Welcome
    %h2 Newsfeed
    %div
      - @messages.order("created_at desc").each do |message|
        .row
          %br/
          .col-md-2
            = image_tag(message.podcast.image, class: "img-responsive img-thumbnail img-med", alt: "Responsive image")
          .col-md-10
            %h3= link_to(message.listener.username, listener_path(message.listener))
            %p= link_to(message.podcast.title, podcast_path(message.podcast))
            %em
              %p
                "#{message.comment}" - #{message.created_at}