<% if @listener.errors.any? %>
    <ol>
        <% @listener.errors.full_messages.each do |msg|%>
            <li><%= msg %></li>
        <% end %>
    </ol>

<% end %>

<%= form_for @listener do |f| %>

    <%= f.label :firstname, "First name"%>
    <%= f.text_field :firstname,  :autofocus => true, :class => 'form-control', :required => true%>

    <%= f.label :lastname, "Last name" %>
    <%= f.text_field :lastname, :class => 'form-control',:required => true %>

    <%= f.label :username, "User name"  %>
    <%= f.text_field :username, :class => 'form-control',:required => true %>

<!--     <%= f.label :dob, "Date of Birth" %>
    <%= f.text_field :dob, :class => 'form-control' %>

    <%= f.label :country, "Country" %>
    <%= f.text_field :country, :class => 'form-control' %> -->

    <%= f.label :email, "Email address" %>
    <%= f.text_field :email, :class => 'form-control',:required => true%>

    <%= f.label :interests, "About me" %>
    <%= f.text_area :interests, :class => 'form-control' %>
    
    <%= f.label :image, "Profile photo"%>
    <%= f.file_field :image, :type => "file", :id =>"exampleInputFile" %>
    <p class="help-block"> or provide image url below </p>
    <%= f.text_field :remote_image_url, :class => 'form-control' %>
    
    <%= f.label :password, "Password" %>
    <%= f.password_field :password, :class => 'form-control',:required => true %>
    
    <%= f.label :password_confirmation, "Confirm password" %>
    <%= f.password_field :password_confirmation, :class => 'form-control' ,:required => true%>
<br>   
    <%= f.submit class: "btn btn-primary" %>
<% end %>
<br>
