<h1> <%= @podcast.title %> </h1>

<div class="display-podcast">
<p><em>Author: </em><%= @podcast.entries[0].author %></p>
<p><em>Description: </em><%= @podcast.description %></p>
<% if @podcast.try(:categories) %>
    <p><em>Categories: </em><%= @podcast.categories %></p>
    <% end %>

<h3>Latest episode</h3>
    <h4> <%= @podcast.entries[0].title %> </h4>

    <audio src="<%= @podcast.entries[0].image %>" controls ></audio>
    
    <p><%== @podcast.entries[0].summary %></p>

</div>