<h1> <%= @podcast.title %> </h1>

<div class="display-podcast">
<p><em>Author: </em><%= @podcast.author %></p>
<p><em>Description: </em><%= @podcast.description %></p>
<% if @podcast.try(:categories) %>
    <p><em>Categories: </em><%= @podcast.categories.join(', ') %></p>
    <% end %>
</div>

<h4><%= link_to("Join the conversation",podcast_messages_path(@podcast.id)) %></h4>

<h3>Latest episodes</h3>
<% @podcast.episodes.each do |ep| %>
    <h4><%= ep.title %></h4>
    <audio src="<%= ep.url %>" controls ></audio>
    <p><%== ep.summary %></p>
<% end %>
</div>