<!DOCTYPE html>
<html>
<head>
  <title>Podhunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
    <ul><%== nav_menu %></ul>
    <%= form_tag(search_listeners_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Listeners" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
</nav>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
